<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/learning_db</property>
        <property name="hibernate.connection.username">learner</property>
        <property name="hibernate.connection.password">learner_pw</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- 2nd-level cache via JCache + Ehcache, used by Step 5 -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">jcache</property>

        <mapping class="com.learning.hibernateadv.model.User"/>
        <mapping class="com.learning.hibernateadv.model.Product"/>
        <mapping class="com.learning.hibernateadv.model.Order"/>
    </session-factory>
</hibernate-configuration>
